<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Inview Example' showScripts=showScripts}}
</head>
<body>
  <!-- Header -->
  {{>header}}

  <!-- Main Content -->
  <main>
      {{#each items}}
        {{#with container}}
        <div {{#if className}}class="{{className}}"{{/if}}>
        {{/with}}
        {{#with animatedElement}}
          <animated-element  {{#if className}}class="{{className}}"{{/if}} as="{{as}}"  as="{{as}}"  {{#if opacity}}opacity="{{opacity}}"{{/if}} {{#if translateX}}translate-x="{{translateX}}"{{/if}} {{#if translateY}}translate-y="{{translateY}}"{{/if}} {{#if scale}}scale="{{scale}}"{{/if}}>
              {{title}}
          </animated-element>
          {{/with}}
        {{#if container}}
        </div>
        {{/if}}
      {{/each}}
  </main>

  <!-- Footer -->
  {{>footer showScripts=showScripts}}
</body>
</html>
