<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Timeline Example' showScripts=showScripts}}
</head>
<body>
  <!-- Header -->
  {{>header}}

  <!-- Main Content -->
  <main>
      {{#each items}}
        {{#with animatedTimeline}}
        <animated-timeline as="{{as}}" {{#if className}}class="{{className}}"{{/if}}>
        {{/with}}
        {{#with animatedElements}}
          {{#each this}}
          <animated-element {{#if className}}class="{{className}}"{{/if}} as="{{as}}"  {{#if opacity}}opacity="{{opacity}}"{{/if}} {{#if translateX}}translate-x="{{translateX}}"{{/if}} {{#if translateY}}translate-y="{{translateY}}"{{/if}} {{#if scale}}scale="{{scale}}"{{/if}}>
          </animated-element>
          {{/each}}
        {{/with}}
        {{#with animatedTimeline}}
        </animated-timeline>
        {{/with}}
      {{/each}}
  </main>

  <!-- Footer -->
  {{>footer showScripts=showScripts}}
</body>
</html>
