<section class="accordion container" data-module="accordion">
  <div class="accordion__header">
    <h2 class="accordion__title">{{title}}</h2>
    <div class="rtf accordion__description">
      <p>{{description}}</p>
    </div>
  </div>

  <div class="accordion__items">
    {{#each items}}
      <div class="accordion__item">
        <button class="accordion__item-trigger" aria-expanded="{{#if @first}}true{{else}}false{{/if}}" id="trigger-{{id}}" aria-controls="panel-{{id}}">
          <h3 class="accordion__item-title">{{title}}</h3>
          <span class="accordion__item-icon">
            {{> svg name="minus" className="accordion__item-icon-minus"}}
            {{> svg name="plus" className="accordion__item-icon-plus"}}
          </span>
        </button>

        <div id="panel-{{id}}" role="region" aria-labelledby="trigger-{{id}}" class="accordion__item-panel">
          <div class="accordion__item-content">
            <h4 class="accordion__item-heading">{{heading}}</h4>
            <div class="rtf accordion__item-description">
              <p>{{{copy}}}</p>
            </div>
            {{#with cta}}
            <div class="buttons-row">
            {{>button}}
            </div>
            {{/with}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>
